/***************************************************************/
/* ---------------------- General Styles --------------------- */
/***************************************************************/

* {
  box-sizing: border-box;
  font-family: "Segoe UI", serif;
}

html, body {
  margin: 0;
}

body, #app, .section {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 360px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container.flex {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  width: 100%;
  height: 500px;
}

/***************************************************************/
/* ---------------------- Theme Colors ----------------------- */
/***************************************************************/

:root {

  /* text colors */
  --text-brown: #A2442F;
  --text-violet: #7D2850;

  /* background colors */
  --bc-brown: #CE8153;
  --bc-divider-brown: #D7A26E;
  --bc-grey: #979FB9;

  /* player colors */
  --red: #F34151;
  --red-light: #FB9698;
  --blue: #27A7E8;
  --blue-light: #80F1FF;
  --yellow: #FFCF31;
  --yellow-light: #F9E8AE;
  --green: #0AD673;
  --green-light: #A4FEB4;
  --violet: #C13DCB;
  --violet-light: #F7AEFF;

  /* button colors */
  --btn-green: #14BC51;
  --btn-light-green: #68EE67;
  --btn-dark-green: #018E39;
  --btn-bordeau: #9D5561;
  --btn-light-bordeau: #AE5B69;
  --btn-dark-bordeau: #6C0E43;
  --btn-brown: #B27E4B;
  --btn-light-brown: #D7A26E;
  --btn-dark-brown: #B27E4B;

  --error-message: red;
}

/***************************************************************/
/* ------------------ General Input Styles ------------------- */
/***************************************************************/

input:focus, textarea:focus {
  /* TODO: change color when there are theme variables */
  outline: 2px solid transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  display: block;
  position: relative;
}

input {
  border: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFFFFF;
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #FFFFFF;
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #FFFFFF;
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
}
:-moz-placeholder { /* Firefox 18- */
  color: #FFFFFF;
  opacity: 1;
  font-size: 16px;
  font-weight: 600;
}

/***************************************************************/
/* ------------------- General Text Styles ------------------- */
/***************************************************************/


/***************************************************************/
/* --------------- General Image & Icon Styles --------------- */
/***************************************************************/

.bc-atts {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/***************************************************************/
/* ------------------ General Button Styles ------------------ */
/***************************************************************/

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.button {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
  border: none;
}

.button.green {
  background-image: linear-gradient(var(--btn-green), var(--btn-light-green));
  border-bottom: 4px solid var(--btn-dark-green);
  text-shadow: 0 1px 0 var(--btn-dark-green);
}
