/***************************************************************/
/* ---------------------- General Styles --------------------- */
/***************************************************************/

* {
  box-sizing: border-box;
  font-family: "Segoe UI", serif;
}

html, body {
  margin: 0;
}

body, #app, .section {
  width: 100%;
  min-height: 100vh;
}

.section.join { background-color: blue; }
.section.game { background-color: orange; }

.container {
  width: 100%;
  max-width: 360px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container.flex {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  width: 100%;
  height: 500px;
}

.form-wrapper.create { background-color: red; }
.form-wrapper.join { background-color: purple; }

/***************************************************************/
/* ---------------------- Theme Colors ----------------------- */
/***************************************************************/

:root {

  /* text colors */
  --text-brown: #A2442F;
  --text-violet: #7D2850;

  /* background colors */
  --bc-brown: #CE8153;
  --bc-grey: #979FB9;

  /* player colors */
  --red: #F34151;
  --red-light: #FB9698;
  --blue: #27A7E8;
  --blue-light: #80F1FF;
  --yellow: #FFCF31;
  --yellow-light: #F9E8AE;
  --green: #0AD673;
  --green-light: #A4FEB4;
  --violet: #C13DCB;
  --violet-light: #F7AEFF;

  /* button colors */
  --btn-green: #14BC51;
  --btn-light-green: #68EE67;
  --btn-dark-green: #018E39;
}

/***************************************************************/
/* ------------------ General Input Styles ------------------- */
/***************************************************************/

input:focus, textarea:focus {
  /* TODO: change color when there are theme variables */
  outline: 2px solid black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  display: block;
  position: relative;
}

input {
  border: none;
}

/***************************************************************/
/* ------------------- General Text Styles ------------------- */
/***************************************************************/


/***************************************************************/
/* --------------- General Image & Icon Styles --------------- */
/***************************************************************/

.bc-atts {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/***************************************************************/
/* ----------------- General Element Styles ------------------ */
/***************************************************************/

.myslide {
  display: block;
  width: 100%;
  height: 500px;
  background-color: aqua;
}
